
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.dashboard {
    display: flex;
}

.sidebar {
    width: 250px;
    background-color: #333;
    color: #fff;
    height: 100vh;
    position: fixed;
}

.sidebar-header {
    padding: 20px;
    text-align: center;
    background-color: #444;
}

.sidebar-menu {
    list-style-type: none;
    padding: 0;
}

.sidebar-menu li {
    padding: 15px;
    text-align: center;
}

.sidebar-menu li a {
    color: #fff;
    text-decoration: none;
    display: block;
}

.sidebar-menu li a:hover {
    background-color: #555;
}

.content {
    margin-left: 250px;
    padding: 20px;
    width: calc(100% - 250px);
}

h2 {
    color: #333;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin: 10px 0 5px;
}

form input[type="text"],
form input[type="date"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

form textarea {
    height: 150px;
}

form input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #0056b3;
}

img{
  width: 100%;
  border-radius: 7px;
}
.anime-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    display: grid;
    grid-template-columns: 1fr 3fr;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: calc(100% - 20px);
    box-sizing: border-box;
}

.card-detalles{
  padding-left: 20px;
}

.card h3 {
    margin-top: 0;
}

.card p {
    margin: 10px 0;
}

.card a {
    color: #007BFF;
    text-decoration: none;
}

.card a:hover {
    text-decoration: underline;
}

.btn {
    background-color: #007BFF;
    color: #fff !important;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 12px;
}

.btn:hover {
    background-color: #0056b3;
}

.btn-red {
    background-color: #E74C3C;
    color: #fff !important;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 12px;
}

.btn-red:hover {
    background-color: #F1948A;
}


